@page
@model Client.Pages.cau_hinh_tai_khoanModel
@{
}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-2 d-flex flex-column">
            <button type="button" class="btn btn-sm btn-primary m-2 btn-acc-1 btn-acc">ACCOUNT INFORMATION</button>
            <button type="button" class="btn btn-sm btn-outline-primary m-2 btn-acc-2 btn-acc">CHANGE THE PASSWORD</button>
            <button type="button" class="btn btn-sm btn-outline-primary m-2 btn-acc-3 btn-acc">Primary</button>
            <button type="button" class="btn btn-sm btn-outline-primary m-2 btn-acc-4 btn-acc">Primary</button>
            <button type="button" class="btn btn-sm btn-outline-primary m-2 btn-acc-5 btn-acc">Primary</button>
            <button type="button" class="btn btn-sm btn-outline-primary m-2 btn-acc-6 btn-acc">Primary</button>
        </div>
        <div class="col-sm-12 col-xl-10 setting-acc setting-acc-1 d-none" >
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">ACCOUNT INFORMATION</h6>
                <form>
                    <div class="mb-3">
                        <label for="InputNamecusstomer1" class="form-label">Name of customer, company</label>
                        <input type="text" class="form-control" id="InputNamecusstomer1"
                            aria-describedby="emailHelp">
                
                    </div>
                    <div class="mb-3">
                        <label for="InputEmail1" class="form-label">Email</label>
                        <input type="gmail" class="form-control" id="InputEmail1">
                    </div>
                    <div class="mb-3">
                        <label for="InputPhone1" class="form-label">Phone number</label>
                        <input type="gmail" class="form-control" id="InputPhone1">
                    </div>
                    <div class="mb-3">
                        <label for="InputPhone1" class="form-label">ID card/ Tax code</label>
                        <input type="gmail" class="form-control" id="InputPhone1">
                    </div>
                    <div class="mb-3">
                        <label for="InputPhone1" class="form-label">Permanent address / Invoice address</label>
                        <input type="gmail" class="form-control" id="InputPhone1">
                    </div>
                    <div class="mb-3">
                        <label for="InputPhone1" class="form-label">Address *</label>
                        <input type="gmail" class="form-control" id="InputPhone1">
                    </div>
                    <button type="button" class="btn btn-primary m-2">Save</button>
                </form>
            </div>
        </div>
        <div class="col-sm-12 col-xl-10 setting-acc setting-acc-1" >
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">CHANGE THE PASSWORD</h6>
                <form>
                                
                    <div class="mb-3">
                        <label for="InputEmail1" class="form-label">Password</label>
                        <input type="gmail" class="form-control" id="InputEmail1">
                    </div>
                    <div class="mb-3">
                        <label for="InputPhone1" class="form-label">A new password</label>
                        <input type="gmail" class="form-control" id="InputPhone1">
                    </div>
                    <div class="mb-3">
                        <label for="InputPhone1" class="form-label">Enter the password</label>
                        <input type="gmail" class="form-control" id="InputPhone1">
                    </div>
                                
                    <button type="button" class="btn btn-primary m-2">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>