@page
@model Client.Pages.don_hang_can_xu_lyModel
@{
}
 <!-- Button Start -->
            <div class="container-fluid pt-4 px-4">
                <h6>Orders to be processed</h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name Product</th>
                            <th scope="col">Name Recipient</th>
                            <th scope="col">Name Address</th>
                            <th scope="col">Delivery time</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody id = "show_Products">
                    </tbody>
                </table>
            </div>
@section Scripts {
    <script>
        async function mangluoibuucuc() {
            load.on();
            var { product: dataProduct } = await fetchurl.get(UrlApi + "/Products/" + getCookie("UserID") + "?user=true");
            var body = "";
            for(var i = 0; i < dataProduct.length ; i++){
                var data = dataProduct[i];
                body += `<tr>
                            <th scope="row">${data.Id}</th>
                            <td>${data.Name}</td>
                            <td>${data.RecipientName}</td>
                            <td>${data.RecipientAddress}</td>
                            <td>${data.StartTime}</td>
                            <td>${data.status}</td>
                        </tr>`
            }
            document.querySelector('#show_Products').innerHTML = body;

            return load.off();
        }
        app.handercommands.push(mangluoibuucuc);
    </script>
}