@page
@model Client.Pages.don_hang_can_xu_lyModel
@{
}
 <!-- Button Start -->
            <div class="container-fluid pt-4 px-4">
                <h6>Orders to be processed</h6>
                <button type="button" class="btn btn-primary m-2">1 piece delivery (0)</button>
                <button type="button" class="btn btn-primary m-2">Pending (0)</button>
                <button type="button" class="btn btn-primary m-2">Edit COD</button>
                <button type="button" class="btn btn-primary m-2">Edit information</button>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>John</td>
                            <td>Doe</td>
                            <td>jhon@email.com</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
@section Scripts {
    <script>
        async function mangluoibuucuc() {
            load.on();
            var dataAdress = await fetchurl.get(UrlApi + "/postaddress");
            var body
            dataAdress.forEach(a => body += `<div class = "Coordinates" data-value = "${a.Coordinates}"></div>`);
            document.querySelectorAll('.Coordinates').forEach(a => a.onclick = ()=> {
                document.getElementById("showiframe").src = a.dataset.value
            })
            return load.off();
        }
        app.handercommands.push(mangluoibuucuc);
    </script>
}