@page
@model Client.Pages.don_hang_can_xu_lyModel
@{
}
 <!-- Button Start -->
            <div class="container-fluid pt-4 px-4">
                <h6>Orders to be processed</h6>
                <button type="button" class="btn btn-primary m-2">1 piece delivery (0)</button>
                <button type="button" class="btn btn-primary m-2">Pending (0)</button>
                <button type="button" class="btn btn-primary m-2">Edit COD</button>
                <button type="button" class="btn btn-primary m-2">Edit information</button>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>John</td>
                            <td>Doe</td>
                            <td>jhon@email.com</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mark@email.com</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>jacob@email.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
