@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



 <!-- Sale & Revenue Start -->
            
            <div class="container-fluid pt-4 px-4">
                <div class="d-flex align-items-center col-sm-6 col-xl-3">
                    <h6 class="mb-0">Commodity money</h6>
                    <a href="thong-ke-tien-hang">Show details</a>
                </div>
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Paid</p>
                                <h6 class="mb-0" id = "show_Paid">$0</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Wait for pay</p>
                                <h6 class="mb-0" id = "show_Wait_for_pay">$0</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Unwarranted</p>
                                <h6 class="mb-0">$0</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->


            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Order statistics</h6>
                            </div>
                            <canvas id="salse-revenue-1"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sales Chart End -->


            


            
@section Scripts {
    <script>
        async function homeindex() {
            load.on();
            var { product: dataProduct } = await fetchurl.get(UrlApi + "/Products/" + getCookie("UserID") + "?user=true");
            var body = "";
            var Wait_for_pay = 0;
            var Paid = 0;
            var productmoth = {};
            for(var i = 0; i < dataProduct.length ; i++){
                var data = dataProduct[i];
                if(data.status == "Done"){
                    Paid += data.Total_charge;
                }else {
                    Wait_for_pay += data.Total_charge;
                }
                if(data.month != 0){
                    productmoth[data.Month] ? "" : productmoth[data.Month] = [];
                    productmoth[data.Month].push({
                        money: data.Total_charge,
                        status: data.status
                    })
                }
                
            }
            document.querySelector('#show_Wait_for_pay').innerHTML = "$" + Wait_for_pay;
            document.querySelector('#show_Paid').innerHTML = "$" + Paid;

            var labels = [];
            var Delivered_successfully = [];
            var Unfinished_delivery = []
            for(var i = 1; i <= 30 ; i++){
                labels.push(`${i}`);
                productmoth[i] ? (() => {
                    var money1 = 0;
                    var money2 = 0;
                    productmoth[i].forEach(a => {
                        a.status == "Done" ? money1 += a.money : money2 += a.money
                    })
                     Delivered_successfully.push(money1)
                     Unfinished_delivery.push(money2)
                })() : (()=> {
                        Delivered_successfully.push(0);
                        Unfinished_delivery.push(0);
                    })()
                
            }
            console.log(productmoth,Delivered_successfully,Unfinished_delivery)
            var ctx2 = $("#salse-revenue-1").get(0).getContext("2d");
            var myChart2 = new Chart(ctx2, {
                type: "line",
                data: {
                    labels: labels,
                    datasets: [{
                            label: "Delivered successfully",
                            data: Delivered_successfully,
                            backgroundColor: "rgba(0, 156, 255, .5)",
                            fill: true
                        },
                        {
                            label: "Unfinished delivery",
                            data: Unfinished_delivery,
                            backgroundColor: "rgba(0, 156, 255, .3)",
                            fill: true
                        }
                    ]
                },
                options: {
                    responsive: true
                }
            });
            return load.off();
        }
        app.handercommands.push(homeindex);
    </script>
}
