@page
@model Client.Pages.mang_luoi_buu_cucModel
@{
}
<div class="container-fluid pt-4 px-4">
    <h6>Post office lookup</h6>
    <input class="form-control bg-transparent " type="text" placeholder="Find " onkeyup="findaddress('searchaddrespost','.Coordinates','h6')" id = "searchaddrespost">
    <div class = "row g-4 m-4">
        <div class="bg-light rounded p-4 col-sm-12 col-xl-6" style = "height: 380px;overflow: scroll;" id = "showaddress"></div>
        <div class = "p-4 col-sm-12 col-xl-6">
            <iframe class = "w-100"
            src=""
            style="border:0;height: 300px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id = "showiframe"></iframe>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        async function mangluoibuucuc() {
            load.on();
            var dataAdress = await fetchurl.get(UrlApi + "/postaddresses");
            var body = "";
            dataAdress.forEach(a => body += `<div class="align-items-center border-bottom py-3 Coordinates" style = "cursor: pointer" data-value = "${a.Link}">
                                <div class="w-100 ms-3" >
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">${a.Name}</h6>
                                    </div>
                                    <span>${a.Address}</span>
                                </div>
                            </div>`);
            document.getElementById("showaddress").innerHTML = body;
            document.querySelectorAll('.Coordinates').forEach(a => a.onclick = ()=> {
                document.getElementById("showiframe").src = a.dataset.value
            })
            return load.off();
        }
        app.handercommands.push(mangluoibuucuc);
        function findaddress(a,b,c) {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById(a);
         
          filter = input.value.toUpperCase();
          
          tr = document.querySelectorAll(b);
          for (i = 0; i < tr.length; i++) {
               console.log(tr[i])
            td = tr[i].getElementsByTagName(c)[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }
    </script>
}