@page
@model Client.Pages.mang_luoi_buu_cucModel
@{
}
<div class="container-fluid pt-4 px-4 h-50">
    <h6>Post office lookup</h6>
    <input class="form-control bg-transparent " type="text" placeholder="Find " id = "findaddress">
    <div id = "showaddress">
        <div data-value = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14868.164618554169!2d105.72338175!3d21.3093901!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3134e3830d25aa35%3A0x9fa9430c7e2f48dd!2sL&#39;amant%20villa%20ki%E1%BB%81u%20nga!5e0!3m2!1svi!2s!4v1648714929506!5m2!1svi!2s" width="600" height="450"></div>
    </div>
    <iframe class="position-relative rounded w-100 h-100"
        src=""
        frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0" id = "showiframe"></iframe>
</div>

@section Scripts {
    <script>
        async function mangluoibuucuc() {
            load.on();
            var dataAdress = await fetchurl.get(UrlApi + "/postaddress");
            var body
            dataAdress.forEach(a => body += `<div class = "Coordinates" data-value = "${a.Coordinates}"></div>`);
            document.querySelectorAll('.Coordinates').forEach(a => a.onclick = ()=> {
                document.getElementById("showiframe").src = a.dataset.value
            })
            return load.off();
        }
        app.handercommands.push(mangluoibuucuc);
    </script>
}