@page
@model Client.Pages.quan_ly_van_donModel
@{
}
<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded-top p-4">
        <div class="h-100 bg-light rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Notification</h6>
            </div>
            <div class="d-flex align-items-center border-bottom py-2">
                <button type="button" class="btn btn-primary m-2">Mark all have been read</button>
            </div>
                       
            <div class="pt-2" style = "height: 800px;overflow: scroll;" id = "shownoti"></div>

        </div>
    </div>
</div>
@section Scripts {
    <script>
        async function thongketienhang() {
            load.on();
            var data = await fetchurl.get(UrlApi + "/Notiusers/0?userid=" + getCookie("UserID"));
            var body = "";
            data.forEach(a => {
                
                var time = Date.now() - parseInt(a.CreatedDate);
                var textTime = Math.ceil((time)/1000);
                var bodytime = "";
                textTime < 60 ? bodytime = `${textTime} milliseconds ago` : 
                    textTime < 3600 ? bodytime = `${Math.ceil(textTime/60) } minute ago` :
                        textTime < 86400 ? bodytime = `${Math.ceil(textTime/3600)} hour ago` : bodytime = `${Math.ceil(textTime/86400)} days ago`;
                body += `<a href="${a.Link ? a.link : "#"}" class="dropdown-item">
                                <h6 class="fw-normal mb-0 d-flex align-items-center justify-content-between">${a.Name}<span>${bodytime}</span></h6>
                                <small>${a.Body}</small>
                            </a>
                            <hr class="dropdown-divider">`
            })
            document.getElementById("shownoti").innerHTML = body;
            return load.off();
        }
        app.handercommands.push(thongketienhang);
    </script>
}