@page
@model Client.Pages.Shared.tao_donModel
@{
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">SENDER</h6>
                <button type="button" class="btn btn-outline-danger m-2" onclick = "show('#ModalAddSender')">Add Sender</button>
                <select class="form-select" id="SelectinfoSender" onchange = "onchangeselectinfosender('SelectinfoSender')">
                </select>
                <br/>
                <h6 class="mb-4">Recipient</h6>

                <div class="mb-3">
                    <label for="AddRecipientText">Username (*)</label>
                    <input type="text" class="form-control" id="AddRecipientText"  required>
                    
                </div>
                <div class="mb-3">
                    <label for="AddSenderphone">Phone (*)</label>
                    <input type="number" class="form-control" id="AddRecipientphone" required>
                </div>
                <div class="mb-3">
                    <label for="AddRecipientAddress">Address (*)</label>
                    <input type="text" class="form-control" id="AddRecipientAddress"  required>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">COMMODITY INFORMATION</h6>
                <form>
                    <div class="mb-3">
                        <label for="InputCode_orders" class="form-label">Code orders</label>
                        <input type="text" class="form-control" id="InputCode_orders">
                    </div>
                    <div class="mb-3">
                        <label for="InputEmInputnameproductail1" class="form-label">Item name (*)</label>
                        <input type="text" class="form-control" id="Inputnameproduct" required>
                    </div>
                    <div class="mb-3">
                        <label for="InputNumberProduct" class="form-label">Number (*)</label>
                        <input type="number" class="form-control" id="InputNumberProduct" required>
                    </div>
                     <div class = "mb-3">
                         <label for="InputPhone1" class="form-label ">Type</label>
                         <select class="form-select " id="SelectType" >
                        </select>
                     </div>
                    <div class="mb-3">
                        <label for="InputNumberProduct" class="form-label">Weight (*)</label>
                        <input type="number" class="form-control" id="InputWeightProduct"
                            required>
                
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">CHOOSE A SERVICE</h6>
                <select class="form-select" id="SelectService">
                </select>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">FEE PAYER</h6>
                <form>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="SenderRadioOptions" id="inlineRadio1"
                            value="Sender" checked>
                        <label class="form-check-label" for="inlineRadio1">Sender</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="SenderRadioOptions" id="inlineRadio2"
                            value="Recipient">
                        <label class="form-check-label" for="inlineRadio2">Recipient</label>
                    </div>
                </form>
                <h6 class="mb-4">REQUEST PICK UP</h6>
                <form>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="REQUEST_PICK_UPRadioDefault"
                            id="flexRadioDefault1" value="Home">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Come pick up goods at home
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="REQUEST_PICK_UPRadioDefault"
                            id="flexRadioDefault2" checked value="post office">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Sent at the post office
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalAddSender" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn btn-default" onclick = "hide('#ModalAddSender')">&times;</button>
            <h4 class="modal-title">Add Sender</h4>
        </div>
        <div class="modal-body">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="AddSenderText" placeholder="jhondoe" required>
                <label for="AddSenderText">Username</label>
            </div>
            <div class="form-floating mb-4">
                <input type="number" class="form-control" id="AddSenderphone" placeholder="phone" required>
                <label for="AddSenderphone">Phone</label>
            </div>
            <div class="form-floating mb-4">
                <input type="text" class="form-control" id="AddSenderAddress" placeholder="Address" required>
                <label for="AddSenderAddress">Address</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-AddSender">Add</button>
            <button type="button" class="btn btn-default" onclick = "hide('#ModalAddSender')">Close</button>
        </div>
        </div>
    </div>
</div>

<div class = "bg-secondary total  text-white  d-flex">
    <div class = "kg p-2">
        <h6>Total charge</h6>
        <div id = "showTotal_charge">0</div>
    </div>
    <div class = "kg p-2">
        <h6>Intend time</h6>
        <div id = "showTime"></div>
    </div>
    <div class = "kg p-1">
        <button type="submit" class="btn btn-primary m-2 add-produtcs">Send now</button>
        <button type="button" class="btn btn-primary m-2">Refesh</button>
    </div>
</div>
@section Scripts {
    <script>
        renderCity(cactinh)
        var taodon =  () => {
            //render
            if(!app.login) return;
            renderInfoSender()
            //end rendẻ

            //handerevent
            //add sender
            document.querySelector('.btn-AddSender').onclick = async () => {
                return fetchurl.post(UrlApi + "/Recipients", {
                    "name": $("#AddSenderText").val(),
                    "userID": app.dataUser.id,
                    "phone": $("#AddSenderphone").val(),
                    "address": $("#AddSenderAddress").val(),
                }, false, (loi, data) => {
                    if (loi) {
                        alert("Website Maintenance !! Hope you relax the next day: 3");
                        return location.reload();
                    }

                    if (data.Status == "Error" || data.errors) {
                        alert(data.message ? data.message : data.errors);
                        console.log(data)
                        return location.reload()
                    }
                    alert(data.Message)
                    return location.reload();
                })
            };

            //tính
            document.querySelector("#InputWeightProduct").onchange  = async function InputWeightProduct() {
                var number = document.querySelector("#InputNumberProduct").value;
                let { Money: moneyserice,Time: timeservice } = await fetchurl.get(UrlApi + "/Servces/" + document.querySelector("#SelectService").dataset.select);
                let { Money: moneyType, Weith : weightType } = await fetchurl.get(UrlApi + "/TransportFees/" + document.querySelector("#SelectType").dataset.select);
                if(number != ""){
                    document.querySelector("#showTotal_charge").innerHTML = (this.value/weightType)*moneyType*number + moneyserice  + "$";
                }
                 document.querySelector("#showTime").innerHTML = timeservice  + "days";
            }
            document.querySelector("#InputNumberProduct").onchange  = async function InputWeightProduct() {
                var number = document.querySelector("#InputWeightProduct").value;
                let { Money: moneyserice,Time: timeservice } = await fetchurl.get(UrlApi + "/Servces/" + document.querySelector("#SelectService").dataset.select);
                let { Money: moneyType, Weith : weightType } = await fetchurl.get(UrlApi + "/TransportFees/" + document.querySelector("#SelectType").dataset.select);
                if(number != ""){
                    document.querySelector("#showTotal_charge").innerHTML = (number/weightType)*moneyType*this.value + moneyserice  + "$";
                }
                 document.querySelector("#showTime").innerHTML = timeservice  + "days";
            }
            document.querySelector("#SelectService").onchange  = async function InputWeightProduct() {
                document.getElementById("SelectService").dataset.select = document.getElementById("SelectService").value;
                let { Money: moneyserice,Time: timeservice } = await fetchurl.get(UrlApi + "/Servces/" + document.querySelector("#SelectService").dataset.select);
                let { Money: moneyType, Weith : weightType } = await fetchurl.get(UrlApi + "/TransportFees/" + document.querySelector("#SelectType").dataset.select);
                var number = document.querySelector("#InputWeightProduct").value;
                var weight = document.querySelector("#InputNumberProduct").value;
                if(number != "" && weight != ""){
                    document.querySelector("#showTotal_charge").innerHTML = (weight/weightType)*moneyType*number + moneyserice  + "$";
                }
                document.querySelector("#showTime").innerHTML = timeservice  + "days";
            }
            document.querySelector("#SelectType").onchange  = async function InputWeightProduct() {
                document.getElementById("SelectType").dataset.select = document.getElementById("SelectType").value;
                let { Money: moneyserice,Time: timeservice } = await fetchurl.get(UrlApi + "/Servces/" + document.querySelector("#SelectService").dataset.select);
                let { Money: moneyType, Weith : weightType } = await fetchurl.get(UrlApi + "/TransportFees/" + document.querySelector("#SelectType").dataset.select);
                var number = document.querySelector("#InputWeightProduct").value;
                var weight = document.querySelector("#InputNumberProduct").value;
                if(number != "" && weight != ""){
                    document.querySelector("#showTotal_charge").innerHTML = (weight/weightType)*moneyType*number + moneyserice  + "$";
                }
                document.querySelector("#showTime").innerHTML = timeservice + "days";
            }
            //post product 
            document.querySelector(".add-produtcs").onclick = async () => {
                var number = document.getElementById("InputWeightProduct").value;
                var weight = document.getElementById("InputNumberProduct").value;
                var codeproduct = document.getElementById("InputCode_orders").value;
                var nameproduct = document.getElementById("Inputnameproduct").value;
                var feE_PAYER = document.querySelector('input[name="SenderRadioOptions"]:checked').value;
                var requesT_PICK_UP = document.querySelector('input[name="REQUEST_PICK_UPRadioDefault"]:checked').value;


                var nameRecipient = document.getElementById("AddRecipientText").value;
                var phoneRecipient = document.getElementById("AddRecipientphone").value;
                var addressRecipient = document.getElementById("AddRecipientAddress").value;

                var idSender = document.getElementById('SelectinfoSender').dataset.select;
                var idService = document.getElementById("SelectService").dataset.select;
                var idTranpostfee = document.getElementById("SelectType").dataset.select;

                if(idSender == ""){
                    return alert("Please add the sender");
                }
                if( number == "" || 
                    weight == "" ||
                    nameproduct == "" ||
                    nameRecipient == "" ||
                    phoneRecipient == "" ||
                    addressRecipient == "" || 
                    idService == "" || 
                    idTranpostfee == ""
                ){
                    return alert("Please enter the full information");
                }
                let { Name: servce ,Money: moneyserice,Time: timeservice  } = await fetchurl.get(UrlApi + "/Servces/" + idService);
                let { Type: transportFee ,Money: moneyType, Weith : weightType} = await fetchurl.get(UrlApi + "/TransportFees/" + idTranpostfee);
                let dataSender = await fetchurl.get(UrlApi + "/Recipients/" + idSender + "?singer=true");
                
                let d = new Date();

                let year = d.getFullYear();
                let month = d.getMonth() + 1;
                let day = d.getDate();
                let dayofweek = d.getDay();

                const dayname = ['CN','T2','T3','T4','T5','T6','T7'];


                var dataSend = {
                    "userId": getCookie("UserID"),
                    "name": nameproduct,
                    "number": parseFloat(number),
                    "transportFee": transportFee,
                    "weith": parseFloat(weight),
                    "code_orders": codeproduct,
                    "servce": servce + `( ${timeservice} day)`,
                    "feE_PAYER": feE_PAYER,
                    "requesT_PICK_UP": requesT_PICK_UP,
                    "recipientName": nameRecipient,
                    "recipientPhone": phoneRecipient,
                    "recipientAddress": addressRecipient,
                    "senderName": dataSender.Name,
                    "sendertPhone": dataSender.Address,
                    "senderAddress": dataSender.Phone,
                    "startTime": dayname[dayofweek] + ' ngày '+ day + '/' + month+ '/'+ year,
                    "total_charge": (weight/weightType)*moneyType*number + moneyserice,
                    "status": "Receiving goods"
                }
                return fetchurl.post(UrlApi + "/Products", dataSend, false, (loi, data) => {
                    if (loi) {
                        alert("Website Maintenance !! Hope you relax the next day: 3");
                        return location.reload();
                    }

                    if (data.Status == "Error" || data.errors) {
                        alert("Error database");
                        console.log(data)
                        return location.reload()
                    }
                    alert("Done")
                    return location.reload();
                }) 
            }
            //end hander event

            
        }
        function onchangeselectinfosender(name){
            return document.getElementById(name).dataset.select = document.getElementById(name).value;
        }
        async function renderInfoSender(){
            load.on();
            var datainfosender = await fetchurl.get(UrlApi + "/Recipients/" + getCookie("UserID"));
            
            var body = "";
            for(var i = 0; i < datainfosender.length ; i++){
                let text = datainfosender[i].Name + ` - ` + (datainfosender[i].Address.length > 25 ?  datainfosender[i].Address.substring(0,24)+"..." : datainfosender[i].Address) + ' - 0' + datainfosender[i].Phone 
                if(i == 0) body += `<option selected value = '${datainfosender[i].Id}' >${text}</option>`
                    else body += `<option value = '${datainfosender[i].Id}'>${text}</option>`;
                document.getElementById('SelectinfoSender').dataset.select = datainfosender[0].Id;
            }
            document.getElementById('SelectinfoSender').innerHTML = body;
            
            var dataservice = await fetchurl.get(UrlApi + "/Servces");
            var body = "";
            for(var i = 0; i < dataservice.length ; i++){
                if(i == 0) body += `<option selected value = '${dataservice[i].Id}' >${dataservice[i].Name + " - "  + dataservice[i].Money}</option>`
                    else body += `<option value = '${dataservice[i].Id}'>${dataservice[i].Name + " - " + dataservice[i].Money}</option>`
                document.getElementById('SelectService').dataset.select = dataservice[0].Id;
            }
            document.getElementById('SelectService').innerHTML = body;
            

            var dataservice = await fetchurl.get(UrlApi + "/TransportFees");
            var body = "";
            for(var i = 0; i < dataservice.length ; i++){
                if(i == 0) body += `<option selected value = '${dataservice[i].Id}' >${dataservice[i].Type + " - " + dataservice[i].Money + "$/"+ dataservice[i].Weith + "Gram"}</option>`
                    else body += `<option value = '${dataservice[i].Id}'>${dataservice[i].Type + " - " + dataservice[i].Money + "$/"+ dataservice[i].Weith + "Gram"}</option>`
                 document.getElementById('SelectType').dataset.select = dataservice[0].Id;
            }
            document.getElementById('SelectType').innerHTML = body;
           
            
            return load.off();
        }
        app.handercommands.push(taodon);
    </script>
}
