@page
@model Client.Pages.Shared.tao_donModel
@{
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">SENDER</h6>
                <button type="button" class="btn btn-outline-danger m-2" onclick = "show('#ModalAddSender')">Add Sender</button>
                <select class="form-select" id="SelectinfoSender" onchange = "onchangeselectinfosender('SelectinfoSender')">
                </select>
                <br/>
                <h6 class="mb-4">Recipient</h6>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="AddSenderText" placeholder="jhondoe" required>
                    <label for="AddSenderText">Username</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="number" class="form-control" id="AddSenderphone" placeholder="phone" required>
                    <label for="AddSenderphone">Phone</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="number" class="form-control" id="AddSenderphone" placeholder="phone" required>
                    <label for="AddSenderAddress">Address</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">COMMODITY INFORMATION</h6>
                <form>
                    <div class="mb-3">
                        <label for="InputNamecusstomer1" class="form-label">Code orders</label>
                        <input type="text" class="form-control" id="InputNamecusstomer1"
                            aria-describedby="emailHelp">
                
                    </div>
                    <div class="mb-3">
                        <label for="InputEmail1" class="form-label">Item name (*)</label>
                        <input type="text" class="form-control" id="InputEmail1" required>
                    </div>
                    <div class="mb-3">
                        <label for="InputEmail1" class="form-label">Number (*)</label>
                        <input type="number" class="form-control" id="InputEmail1" required>
                    </div>
                     <label for="InputPhone1" class="form-label">Type</label>
                     <select class="form-select" id="SelectType" onchange = "onchangeselectinfosender('SelectType')">
                    </select>
                    <div class="mb-3">
                        <label for="InputNamecusstomer1" class="form-label">Weight (*)</label>
                        <input type="number" class="form-control" id="InputNamecusstomer1"
                            aria-describedby="emailHelp" required>
                
                    </div>
                    <div class="mb-3">
                        <label for="InputEmail1" class="form-label">Value </label>
                        <input type="number" class="form-control" id="InputEmail1">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">CHOOSE A SERVICE</h6>
                <select class="form-select" id="SelectService" onchange = "onchangeselectinfosender('SelectService')">
                </select>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">FEE PAYER</h6>
                <form>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            value="option1" checked>
                        <label class="form-check-label" for="inlineRadio1">Sender </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2">Recipient</label>
                    </div>
                </form>
                <h6 class="mb-4">REQUEST PICK UP</h6>
                <form>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                            id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Come pick up goods at home
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                            id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Sent at the post office
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalAddSender" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn btn-default" onclick = "hide('#ModalAddSender')">&times;</button>
            <h4 class="modal-title">Add Sender</h4>
        </div>
        <div class="modal-body">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="AddSenderText" placeholder="jhondoe" required>
                <label for="AddSenderText">Username</label>
            </div>
            <div class="form-floating mb-4">
                <input type="number" class="form-control" id="AddSenderphone" placeholder="phone" required>
                <label for="AddSenderphone">Phone</label>
            </div>
            <div class="form-floating mb-4">
                <input type="text" class="form-control" id="AddSenderAddress" placeholder="Address" required>
                <label for="AddSenderAddress">Address</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-AddSender">Add</button>
            <button type="button" class="btn btn-default" onclick = "hide('#ModalAddSender')">Close</button>
        </div>
        </div>
    </div>
</div>

<div class = "bg-secondary total  text-white  d-flex">
    <div class = "kg p-2">
        <h6>Total charge</h6>
        <div>0</div>
    </div>
    <div class = "kg p-2">
        <h6>Total charge</h6>
        <div>0</div>
    </div>
    <div class = "kg p-2">
        <h6>Intend time</h6>
        <div></div>
    </div>
    <div class = "kg p-1">
        <button type="button" class="btn btn-primary m-2">Send now</button>
        <button type="button" class="btn btn-primary m-2">Save draft</button>
        <button type="button" class="btn btn-primary m-2">Refesh</button>
    </div>
</div>
@section Scripts {
    <script>
        renderCity(cactinh)
        var taodon =  () => {
            //render
            if(!app.login) return;
            renderInfoSender()
            //end rendẻ

            //handerevent
            //add sender
            document.querySelector('.btn-AddSender').onclick = async () => {
                return fetchurl.post(UrlApi + "/Recipients", {
                    "name": $("#AddSenderText").val(),
                    "userID": app.dataUser.id,
                    "phone": $("#AddSenderphone").val(),
                    "address": $("#AddSenderAddress").val(),
                }, false, (loi, data) => {
                    if (loi) {
                        alert("Trang web đang bảo trì !! Mong bạn vào lại vào hôm sau :3");
                        return location.reload();
                    }

                    if (data.Status == "Error" || data.errors) {
                        alert(data.message ? data.message : data.errors);
                        console.log(data)
                        return location.reload()
                    }
                    alert(data.Message)
                    return location.reload();
                })

                


            };
            //end hander event
            
        }
        function onchangeselectinfosender(name){
            return document.getElementById(name).dataset.select = document.getElementById(name).value;
        }
        async function renderInfoSender(){
            load.on();
            var datainfosender = await fetchurl.get(UrlApi + "/Recipients/" + getCookie("UserID"));
            
            var body = "";
            for(var i = 0; i < datainfosender.length ; i++){
                let text = datainfosender[i].Name + `-` + (datainfosender[i].Address.length > 25 ?  datainfosender[i].Address.substring(0,24)+"..." : datainfosender[i].Address) + '- 0' + datainfosender[i].Phone 
                if(i == 0) body += `<option selected value = '${datainfosender[i].Id}' >${text}</option>`
                    else body += `<option value = '${datainfosender[i].Id}'>${text}</option>`
            }
            document.getElementById('SelectinfoSender').innerHTML = body;
            document.getElementById('SelectinfoSender').dataset.select = datainfosender[0].Id;
            var dataservice = await fetchurl.get(UrlApi + "/Servces");
            var body = "";
            for(var i = 0; i < dataservice.length ; i++){
                if(i == 0) body += `<option selected value = '${dataservice[i].Id}' >${dataservice[i].Name + "-" + dataservice[i].Money}</option>`
                    else body += `<option value = '${dataservice[i].Id}'>${dataservice[i].Name + "-" + dataservice[i].Money}</option>`
            }
            document.getElementById('SelectService').innerHTML = body;
            document.getElementById('SelectService').dataset.select = datainfosender[0].Id;

            var dataservice = await fetchurl.get(UrlApi + "/TransportFees");
            var body = "";
            for(var i = 0; i < dataservice.length ; i++){
                if(i == 0) body += `<option selected value = '${dataservice[i].Id}' >${dataservice[i].Name + "-" + dataservice[i].Money}</option>`
                    else body += `<option value = '${dataservice[i].Id}'>${dataservice[i].Name + "-" + dataservice[i].Money}</option>`
            }
            document.getElementById('SelectType').innerHTML = body;
            document.getElementById('SelectType').dataset.select = datainfosender[0].Id;
            
            return load.off();
        }
        app.handercommands.push(taodon);
    </script>
}
